# Created by .ignore support plugin (hsz.mobi)
*.log
robots.txt
cache/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap_index.xml
/sitemap.xml.gz

.idea
.htaccess
node_modules/
bower_components/
*.map

*.psd
.bak$
.orig$
.orig\..*$
.chg\..*$
.rej$
.conflict\~$
.svn/
.all\.js$
.all\.css$


/dist/
